*{
    margin: 0;
    padding:0;
}
.background-white {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    padding-bottom: 200px ;
}

.main-background {
    border-left:7px solid rgb(44, 38, 35);
    border-right: 7px solid rgb(44, 38, 35) ;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-top:150px;
    margin-bottom: 50px;
    width: 250px;
    height: 140px;
    background-color: rgb(0, 98, 109) ;
    margin-bottom: 10px;
}
.text{
    padding:50px;
    
}
h1{
    color: #f4f4f4;
    text-align: center;
}